body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #555;
}

.time-inputs {
    display: flex;
    align-items: center;
}

.time-inputs input {
    width: 70px;  /* Increased width */
    padding: 10px;
    font-size: 18px;
    margin: 0 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
    text-align: center;
}

input:focus, select:focus, button:focus {
    border-color: #007bff;
    outline: none;
}

input, select, button {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #ccc;
}

button:hover:enabled {
    background-color: #0056b3;
}

#result {
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.8em;
    padding: 25px;
    background-color: #e7f3fe;
    border: 1px solid #b3d7ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#result p {
    margin: 0;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 24px;
    }
    input, select, button {
        padding: 14px;
        font-size: 16px;
    }
    #result {
        font-size: 1.5em;
    }
    .time-inputs input {
        width: 60px;  /* Adjusted width for smaller screens */
    }
}
